.Cajas{
    width: 90%;
    margin: 18px auto;
    min-height: 320px;
    border: 2px solid #333; 
    background: white;
    box-sizing: border-box;
    padding: 14px;
}


.caja1 {
    background-color: #6fa8dc; 
    border: 2px solid gray;
    width: 50%;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}


.caja2 {
    background-color: #fff59d; 
    width: 20%;
    height: 50px;
    float: left;
    margin-top: 12px;   
    margin-left: 20px;  
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}


.caja3 {
    background-color: #ea7b6b; 
    border: 1px double black;
    width: 20%;
    height: 50px;
    float: left;
    clear: left;
    margin-top: 18px;   
    margin-left: 10px;  
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}