
@font-face {
    font-family: FuenteRobot;
    src: url(../fuentes/BitcountGridSingle-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf);
}

@font-face {
    font-family: FuenteApartados;
    src: url(../fuentes/Sixtyfour-Regular-VariableFont_BLED\,SCAN.ttf);
}

@font-face {
    font-family: FuenteTitulos;
    src: url(../fuentes/Exo-VariableFont_wght.ttf);
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-right: 15%;
    max-width: 900px;
}

header {
    font-family: FuenteRobot;
    color: rgb(5, 178, 184);
    text-align: center;
}

#Paginas {
  background: rgb(34, 34, 34);   /* #222 */
  border: 2px solid rgb(220, 20, 60); /* crimson */
  padding: 10px;
  margin-bottom: 20px;
}

#Paginas a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 15px;
}


h1, h3 {
    font-family: FuenteTitulos;
    color: rgb(243, 33, 33);
    text-align: center;
}

h2 {
    font-family: FuenteApartados;
    color: rgb(50, 133, 220);
    text-align: center;
}

.enlaces {
    color: white;
    font-size: 14pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.enlaces:hover {
    color: rgb(243, 33, 33);
    text-shadow: 0 0 5px rgb(243, 33, 33);
}


p {
    font-size: 12pt;
    text-align: justify;
}


.intro {
    margin: 20px 0;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: white;
}


article {
    margin: 20px 0;
}


footer {
    text-align: center;
    margin-top: 40px;
    padding: 15px;
    border-top: 2px solid rgb(243, 33, 33);
    font-family: FuenteRobot;

}





