
@font-face {
    font-family: FuenteRobot;
    src: url(../fuentes/BitcountGridSingle-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf);
}

@font-face {
    font-family: FuenteApartados;
    src: url(../fuentes/Sixtyfour-Regular-VariableFont_BLED\,SCAN.ttf);
}

@font-face {
    font-family: FuenteTitulos;
    src: url(../fuentes/Exo-VariableFont_wght.ttf);
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }
  h1 {
    font-size: 24px;
  }
  p {
    font-size: 14px;
  }
}


@media (min-width: 481px) and (max-width: 1023px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
  h1 {
    font-size: 28px;
  }
  p {
    font-size: 16px;
  }
}


@media (min-width: 1024px) and (max-width: 1600px) {
  body {
    font-size: 18px;
    line-height: 28px;
  }
  h1 {
    font-size: 32px;
  }
  p {
    font-size: 18px;
  }
}


@media (min-width: 1601px) {
  body {
    font-size: 20px;
    line-height: 30px;
  }
  h1 {
    font-size: 36px;
  }
  p {
    font-size: 20px;
  }
}


body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    margin-left: 10%;
    margin-right: 15%;
    max-width: 900px;
}

header {
    font-family: FuenteRobot;
    color: rgb(5, 178, 184);
    text-align: center;
}

#Paginas {
  background: rgb(0, 0, 0);   
  border: 4px solid red;
  padding: 10px;
  margin-bottom: 20px;
  list-style: none;
}

#Paginas a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 15px;
}


h1, h3 {
    font-family: FuenteTitulos;
    color: rgb(243, 33, 33);
    text-align: center;
}

h2 {
    font-family: FuenteApartados;
    color: rgb(50, 133, 220);
    text-align: center;
}

.enlaces {
    color: white;
    font-size: 14pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.enlaces:hover {
    color: rgb(243, 33, 33);
    text-shadow: 0 0 5px rgb(243, 33, 33);
}


p {
    font-size: 12pt;
    text-align: justify;
}


.intro {
    margin: 20px 0;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: white;
}


article {
    margin: 20px 0;
}


footer {
    text-align: center;
    margin-top: 40px;
    padding: 15px;
    border-top: 2px solid rgb(243, 33, 33);
    font-family: FuenteRobot;

}









