@font-face {
    font-family: FuenteRobot;
    src: url(../fuentes/BitcountGridSingle-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf);
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    font-family: FuenteRobot;
    font-size: x-large;
    color: rgb(5, 178, 184);
    text-align: justify;
}

.enlaces {
    color: white;            
    font-size: 15pt;              
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.info {
    color: white;            
    font-size: 15pt;              
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
    color: rgb(27, 118, 215);
    text-align: justify;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-align: justify;
}