@font-face {
    font-family: FuenteRobot;
    src: url(../fuentes/BitcountGridSingle-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf);
}

@font-face {
    font-family: FuenteApartados;
    src: url(../fuentes/Sixtyfour-Regular-VariableFont_BLED\,SCAN.ttf);
}

@font-face {
    font-family: FuenteTitulos;
    src: url(../fuentes/Exo-VariableFont_wght.ttf);
}


body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-right: 15%;
}
header {
    font-family: FuenteRobot;
    text-align: justify;
    font-size: medium;
    color: rgb(5, 178, 184);
    text-align: justify;
}

h2 {
    font-family: FuenteApartados;
    text-align: justify;
    font-size: 20pt;
    color: rgb(50, 133, 220);
    text-align: justify;
}



p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 12pt;
    text-align: justify;
}

legend {
    font-family: FuenteTitulos;
    text-align: justify;
    font-size: 18pt; 
    color: rgb(243, 33, 33);
}

.Informacion {
    color: rgb(243, 33, 33);
    text-align: justify;         
    font-size: 15pt;              
    font-family: FuenteTitulos;

}
.enlaces {
    color: white;            
    font-size: 15pt;              
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    color: rgb(243, 33, 33);
    text-align: justify;         
    font-size: 15pt;              
    font-family: FuenteTitulos;
}

label {
    font-family: FuenteTitulos;
    font-size: 15pt; 
}

thead {
    background-color: #1E2A47;
}

thead th {
    color: #1638e3;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 20px;
    font-size: 1rem;
}
td {
    padding: 15px 20px;
    text-align: center;
    font-size: 0.95rem;
    color: #1638e3;
}

strong {
    color: #1638e3;
    text-align: justify;         
    font-size: 15pt;              
    font-family: FuenteTitulos;
}

iframe {
  display: block;
  border: 5pt solid rgb(243, 180, 33);
  border-radius: 15pt;
}
