@font-face {
    font-family: FuenteRobot;
    src: url(../fuentes/BitcountGridSingle-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf);
}

@font-face {
    font-family: FuenteApartados;
    src: url(../fuentes/Sixtyfour-Regular-VariableFont_BLED\,SCAN.ttf);
}

@font-face {
    font-family: FuenteTitulos;
    src: url(../fuentes/Exo-VariableFont_wght.ttf);
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-right: 15%;
    max-width: 900px;  
}

header {
    font-family: FuenteRobot;
    text-align: justify;
    font-size: medium;
    color: rgb(5, 178, 184);
}

h2 {
    font-family: FuenteApartados;
    text-align: justify;
    font-size: 20pt;
    color: rgb(50, 133, 220);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 12pt;
}

legend {
    font-family: FuenteTitulos;
    font-size: 18pt; 
    color: rgb(243, 33, 33);
}

.Informacion {
    color: rgb(243, 33, 33);
    font-size: 15pt;              
    font-family: FuenteTitulos;
}

table {      
    display: table;      
}

.enlaces {
    color: white;            
    font-size: 15pt;              
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.enlaces:hover { 
    color: rgb(243, 33, 33);
    text-shadow: 0 0 5px rgb(243, 33, 33);
}

h3 {
    color: rgb(243, 33, 33);
    font-size: 15pt;              
    font-family: FuenteTitulos;
}

label {
    font-family: FuenteTitulos;
    font-size: 15pt; 
}


input, textarea, select {
    padding: 8px;
    border-radius: 6px;
    border: 2px solid rgb(243, 33, 33);
    background-color: #111;
    color: white;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: rgb(5, 178, 184);
    box-shadow: 0 0 8px rgb(5, 178, 184);
}

thead {
    background-color: #1E2A47;
}

thead th {
    color: #1638e3;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 20px;
    font-size: 1rem;
}

td {
    padding: 15px 20px;
    text-align: center;
    font-size: 0.95rem;
    color: #1638e3;
}

strong {
    color: #1638e3;
    font-size: 15pt;              
    font-family: FuenteTitulos;
}

iframe {
  display: block;
  border: 5pt solid rgb(243, 180, 33);
  border-radius: 15pt;
  width: 100%;         
  max-width: 600px;    
  margin: 20px auto;
  display: block;
}


footer {
    margin-top: 40px;
    padding: 15px;
    text-align: center;
    border-top: 2px solid rgb(243, 33, 33);
    font-family: FuenteRobot;
}


button {
    padding: 10px 20px;
    background-color: rgb(243, 33, 33);
    color: white;
    border: none;
    border-radius: 8px;
    font-family: FuenteTitulos;
    cursor: pointer;
}

button:hover {
    background-color: rgb(200, 20, 20);
    box-shadow: 0 0 10px rgb(243, 33, 33);

}
