@font-face {
    font-family: FuenteRobot;
    src: url(../fuentes/BitcountGridSingle-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf);
}

@font-face {
    font-family: FuenteTitulos;
    src: url(../fuentes/Exo-VariableFont_wght.ttf);
}

@font-face {
    font-family: FuenteApartados;
    src: url(../fuentes/Sixtyfour-Regular-VariableFont_BLED\,SCAN.ttf);
}


body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-right: 15%;
    max-width: 900px;
}

header {
    font-family: FuenteRobot;
    font-size: x-large;
    color: rgb(5, 178, 184);
    text-align: justify;
}

img[alt="Logo de la pagina"] {
    width: 100%;        
    display: block;
}


nav ul {
    padding: 0;
    margin: 20px 0;
    list-style: none;
    background: rgba(255, 255, 255, 0.05); 
    border: 2px solid rgb(243, 33, 33);     
    border-radius: 12px;                    
    padding: 10px 15px;                     
    display: inline-block;                  
}


nav ul li {
    display: inline-block;
    margin-right: 20px;
}


nav ul li a {
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 6px;
    transition: 0.2s ease;
}


nav ul li a:hover {
    background: rgb(243, 33, 33);
    color: black;
}



h2 {
    font-family: FuenteApartados;
    font-size: 20pt;
    color: rgb(50, 133, 220);
    text-align: justify;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-align: justify;
}


.Titulo {
  color: rgb(243, 33, 33) ;            
  font-size: 15pt ;              
  font-family: FuenteTitulos ;
}


.enlaces {
    color: white;            
    font-size: 15pt;              
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.enlaces:hover {
    color: rgb(243, 33, 33);
    text-shadow: 0 0 5px rgb(243, 33, 33);
}

.enlacesInt {
    color: white;            
    font-size: 12pt;              
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Doctor {
    color:#1638e3;            
    font-size: 12pt;              
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #1E2A47;
}

thead th {
    color: #1638e3;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 20px;
    font-size: 1rem;
}

td {
    padding: 15px 20px;
    text-align: center;
    font-size: 0.95rem;
    color: #1638e3;
}

.juegos {
    color:white;            
    font-size: 12pt;              
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


#raiders {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    color: azure;
    border: 5pt solid #FF7A00; 
    border-radius: 10px;       
    padding: 20px;
    display: block;
    margin-bottom: 25px;
}

img[alt="imagen portada Arc raiders"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;      
    margin-top: 10px;
    margin-bottom: 10px;        
    font-style: italic;      
    width: 100%;             
    display: block;          
}

#battlefield {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    color: azure;
    border: 5pt solid #0c4d07; 
    border-radius: 10px;       
    padding: 20px;
    display: block;
    margin-bottom: 25px;
}

#silksong {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    color: azure;
    border: 5pt solid #0d31a8; 
    border-radius: 10px;       
    padding: 10pt;
    display: block;
    margin-bottom: 25px;
}


footer {
    margin-top: 40px;
    padding: 15px;
    text-align: center;
    border-top: 2px solid rgb(243, 33, 33);
    font-family: FuenteRobot;
}


button {
    padding: 10px 20px;
    background-color: rgb(243, 33, 33);
    color: white;
    border: none;
    border-radius: 8px;
    font-family: FuenteTitulos;
}

button:hover {
    background-color: rgb(200, 20, 20);
    box-shadow: 0 0 10px rgb(243, 33, 33);
}

#Comienzo iframe {
    width: 100%;              
    height: 400px;            
    border: 5pt solid yellow; 
    border-radius: 30px;      
    display: block;
    margin: 20px 0;

}


