.caja {
    margin: 30pt 20% 0 20%;  /* superior, derecha, inferior, izquierda */
    padding: 10pt;
    border-top: 4pt solid red;
    border-right: 6pt solid blue;
    border-bottom: 2pt solid green;
    background-color: yellow;
}
