

.valido{
    color:aquamarine;
    font-weight: bold;
}

.no_valido{
    color:rebeccapurple;
    font-weight: bold;
}

#contador {
    font-weight: bold;
}
    .rojo {
        color: red;
    }

    .normal {
        color: black;
    }

